<p>Create New Account</p>


<form class="form-group" id="signup-form" action="/users/signup" method="POST">
  <input class="form-control" type="text" id="name"  name="name" placeholder="Name">
  <input class="form-control" type="text" id="email"  name="email" placeholder="Email">
  <input class="form-control" type="password" id="password"  name="password" placeholder="Password">
  <input class="btn btn-info" type="submit" id="signup-btn"  value="Signup">
</form >
