<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bs.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/" >Home</a >
    <a href="/browse" >Browse</a >
    <h1>{{title}}</h1>
    <main class="jumbotron">
      {{{body}}}
    </main>
    <script src="/javascripts/script.min.js"></script >
  </body>
</html>
