<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bs.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <div class="all-wrap">
      <a href="/" >Home</a >
      <a href="/browse" >Browse</a >
      <h1>{{title}}</h1>
      <main class="jumbotron">
        {{{body}}}
      </main>
    </div>
    <script src="/javascripts/script.min.js"></script >
  </body>
</html>
